*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.nav{
    width:100%;
    height:10vh;
}

.navbar{
    width:80%;
    height:10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0 auto;
}

.h2{
    cursor: pointer;
    color: red;
    font-size: 4vh;
    font-family: sans-serif;
    text-transform: uppercase;
}

.a1{
text-decoration:none;
color: black;
}

.a2:hover{
    color: white;
    transition:0.8s;
    font-size:5vh;
    background-color: black;
}

.black:hover{
    color: black;
    transition:0.8s;
}

header ul li{
    display: inline;
    margin-left:50px;
    font-size:4vh;
    font-family: sans-serif;
    list-style:none;
    cursor:pointer;
}


.main1{
    width:100%;
    height:90vh;
    background-color:black;
}

.text{
    text-align: center;
    font-size:5vh;
    font-family: sans-serif;
    padding-top:10%;
    color: #ffffff;
}

.icon{
    font-size:15vh;
    position: absolute;
    top:45%;
    left:46%;
    color:white;
    cursor: pointer;
}

.color:hover{
    color: rgb(255, 255, 0);
    transition: 0.5s;
}

.white{
    color: white;
}

.text-2{
    color: red;
    text-align: center;
    font-size:4vh;
    padding-top:30vh;
}

.p{
    width:50%;
    height:5vh;
    margin:0 auto;
    text-align: center;
}
.main2{
    width:100%;
    height:107vh;
}

.text-3{
    padding-top:10vh;
    text-align: center;
    font-size:5vh;
    font-family:'Times New Roman', Times, serif;
}

.img{
width:32%;
height: auto;
}

.img-d{
padding-top:5%;
width:80%;
height:60vh;
margin:0 auto;
}

.paddingtop{
    padding-top:1%;
}

.m-right{
    margin-right:1%;
}

.m-left{
    margin-left:1%;
}

.main3{
    width:100%;
    height:100vh;
    background-color: black;
}

.container{
    padding-top:10%;
    width:80%;
    height:50vh;
    display: flex;
    align-items: center;
    margin:0 auto;
}

.i-1{
    margin-right:30%;
}
.i-2{
    margin-right:8%;
    margin-bottom:1.5%;
}

.p1{
    text-align: center;
    margin-left:20%;

}

.p2{
    text-align: center;
    margin-left:20%;
}

.red{
    color: red;
}

.t-1{
    margin-top:5%;
    margin-left:37%;
    font-size:4vh;
}

.t-2{
    font-size:4vh;
    margin-top:5%;
    margin-left:39%;
}

.text3{
    text-align: center;
    font-size:5vh;
    font-family: sans-serif;
    padding-top:8%;
    color:yellow;
}

.image{
    width:80%;
    height:auto;
    border-radius:100%;
    margin-top:5%;
    margin-left:23%;
}

.main4{
    width:100%;
    height:80vh;
}

.txt{
    padding-top:6%;
    font-size:5vh;
    text-align: center;
}

.input{
    margin-top:2%;
    width:45%;
    height: 9vh;
    border-style: groove;
    border-color:rgb(208, 206, 206);
    padding-left:1%;
}

.inred:hover{
    border-color:aqua;
    transition: 0.5s;
}

.ins{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.btn{
cursor: pointer;
font-size:3vh;
background-color:black;
color: white;
margin-top:2%;
width:15%;
height: 8vh;
border-radius:10px;
border: none;
}

.btn-color:hover{
    color: aqua;
    transition:0.5s;
}

.main5{
    width:100%;
    height:72vh;
}

.a{
    padding-left:2%;
    color: rgb(84, 83, 83);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main6{
    width:100%;
    height:7vh;
    background-color:black;
}

.txt2{
    float: right;
    padding-top:1%;
    padding-right:3% ;
}

.link{
    text-decoration: none;
    color: red;
}

.finish{
    width:100%;
    height:10vh;
}

.HOME{
    width:100;
    height:100%;
}

.PORTFOLIO{
    width: 100%;
    height: 100%;
}

.ABOUT{
    width:100%;
    height:100%;
}

.CONTACT{
    width:100%;
    height:100%;
}

::-webkit-scrollbar{
    width: 12px;
    height:12px;
}

::-webkit-scrollbar-thumb{
    background:linear-gradient(transparent,red);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover{
    background:linear-gradient(transparent,black);
}